* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
    color: #2c3e50;
    height: 100%;
    width: 100%;
    min-width: 800px;
    /* min-height: 960px; */
    /* overflow-y: hidden; */
}
/*滚动条样式*/
::-webkit-scrollbar {/*滚动条整体样式*/
    width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 6px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px #a0a0a0;
    background-color:#a0a0a0;
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/ 
    border-radius: 6;
    -webkit-box-shadow: inset 0 0 6px transparent; /*轨道边框颜色*/
    background-color: transparent;
}

.page{
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 8px;
    overflow: auto;
}

.margin-right {
    margin-right: 10px;
}

.button{
    padding: 6px !important;
}

/* 下拉框 */
.el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
}
.el-icon-arrow-down {
    font-size: 12px;
}
.demonstration {
    display: block;
    color: #8492a6;
}

/* el-table 表格线对齐 */
body .el-table th.gutter{
    display: table-cell !important;
}

body .el-table colgroup.gutter{
    display: table-cell !important;
}

/* 表格 添加 flexd 导致行高异常 */
.el-table__fixed, .el-table__fixed-right{
    height: 100% !important;
}

.el-pagination{
    margin-top: 8px;
    text-align: left;
}

/* table 展开行 */
.demo-table-expand {    
    font-size: 12px;
}
.demo-table-expand label {
    width: 92px;
    color: #99a9bf;
}
.demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
    box-sizing: border-box;
}

.el-avatar, .el-image{
    margin-bottom: -7px;
}

.el-tabs{
    height: 40px;
    margin-bottom: 8px;
}

/* 表格标题, 常用于用户作品标题显示 */
.table-cell-title{
    white-space: per-line; 
    text-overflow: ellipsis; 
    font-size: 12px !important;
}

